@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body {
  font-family: "Madimi One", sans-serif;
  background-color: rgb(219, 219, 219);
  font-weight: 400;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.homeButton {
  padding: 15px;
}

.newBlogButton {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color:rgb(59, 167, 255);
  border-radius: 8px;
  transition: transform 0.2s;
}

.newBlogButton:hover {
  cursor: pointer;
  background-color: rgb(58, 156, 236);
  transform: scale(1.1);
}

.home h1 {
  text-align: center;
}