@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

/*General style*/

body {
  font-family: "Madimi One", sans-serif;
  background-color: rgb(219, 219, 219);
  font-weight: 400;
  font-style: normal;
}

/*Navigation bar style*/

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.home-button {
  padding: 15px;
}

.new-blog-button {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color:rgb(59, 167, 255);
  border-radius: 8px;
  transition: transform 0.2s;
}

.new-blog-button:hover {
  cursor: pointer;
  background-color: rgb(58, 156, 236);
  transform: scale(1.1);
}

/*Main home page content style*/

.home h1 {
  text-align: center;
}

.blog {
  margin: auto;
  margin-top: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
  background-color: rgb(233, 233, 233);
  box-shadow:dimgray 5px 5px 5px;
  border-radius: 15px;
}

.blog:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.blog p {
  width: 100%;
  text-align: end;
  padding-right: 15px;
}

.blog-delete-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.blog-delete-button {
  border-radius: 15px;
  font-size: medium;
  background-color: rgb(172, 36, 36);
}

.blog-delete-button:hover {
  cursor: pointer;
  background-color: rgb(153, 35, 35);
}